*{
    @font-face {
        font-family: 'EB Garamond', serif;
        font-family: 'Edu QLD Beginner', cursive;
        font-family: 'Source Sans Pro', sans-serif;
        
}
}
div{
    background-color: #273549;
    width: 300px;
    padding: 70px;
    margin: 20px;
    border-color: black;
    border-radius: 8px;
    margin: 10px 10px
}
button{
    background-color: #10B981;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0px;
    transition-duration: 0.4s;
    cursor: pointer
}
button:hover{
    background-color: rgb(236, 234, 234);
    color: black;

}
h2{
    color: white;
    font-size: medium;
}
.btn{
    background-color:#273549;
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    border-style: solid;
    padding: 15px 70px;
    border-width: px;
    border-color: black;
}
